services:
  # 1. The Database Service
  postgres:
    image: postgres:15-alpine
    container_name: bidify_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. Database GUI (Optional, but recommended)
  pgadmin:
    image: dpage/pgadmin4
    container_name: bidify_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - '5050:80'
    depends_on:
      - postgres

  # Redis service
  redis:
    image: redis:alpine
    container_name: bidify_redis
    ports:
      - '6379:6379'
    restart: always

volumes:
  postgres_data: